<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

   <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sandstone/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-G3Fme2BM4boCE9tHx9zHvcxaQoAkksPQa/8oyn1Dzqv7gdcXChereUsXGx6LtbqA" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
</head>
<body>
    <div class="p-3 mb-2 bg-light text-grey text-center">
        <i class="fa fa-space-shuttle fa-lg" aria-hidden="true"></i>
        <p class="text-monospace">.WE DO IT TO YOU.</p>
    </div>

    <div class="jumbotron text-center pt-5 container mx-auto border mt-5">
        <form method="post">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
            <div class="mb-3">
                Estás logeado como {{ app.user.correo }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
            {% endif %}


            <div class="p-3 mb-2 bg-primary text-white text-center">
                <h1><img src="{{ asset('chat-20.jpg', 'imagenlogo') }}"class="img-responsive" width="50" height="50"/></i> Chat;)</h1>
            </div>

            <div class="input-group">
                <i class="input-group-text fa fa-user fa-lg"></i>
                <input type="text" value="" name="correo" id="inputCorreo" class='form-control'
                    placeholder='Introduce el correo' required autofocus />
            </div>

            <div class="input-group">
                <i class="input-group-text fa fa-lock fa-lg" aria-hidden="true"></i>
                <input type="password" value="" name="password" id="inputPassword"
                    class='form-control' placeholder='Password' required />
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button class="btn btn-outline-primary btn-block" type="submit">
                Entrar
            </button>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>