<span id="mensajesGrupo{{ idGrupo }}"></span>

<div id="barraChat" class='fixed-bottom bg-primary p-3' style="height:0px">
    <div class='row align-items-center'>
        <div class='col-md-1'></div>
        <div class='col-md-9'>
            <textarea id="mensajeEnviar" type="textarea" spellcheck="true" class="form-control w-100 py-auto mb-1"
                id="mensaje" placeholder="Mensaje" rows="1"
                style="font-family: 'Righteous', sans-serif; font-size: 25px;"></textarea>
        </div>
        <div class='col-md-1 text-center'>
            <button id="botonEnviar" class="btn btn-primary" onclick="chat.chatEnviarMensaje()">
                <h6 class="m-2"><i class="fa fa-envelope" aria-hidden="true"></i> Enviar</h6>
            </button>
        </div>
        <div class='col-md-1'></div>
    </div>
</div>

<script>
    chat.idUltimoMensaje=0;
    var alturaPantalla = window.screen.width;
    if (alturaPantalla < 768) {
        $("#barraChat").animate({
            height: '120px'
        });
    } else {
        $("#barraChat").animate({
            height: '100px'
        });
    }
</script>