    <div class="text-center pt-5">
        <h1> INFORMACIÓN DEL GRUPO: </h1>

        <div id="nombregrupo" class="h2"> {{param.nombre}}</div>
    </div>
        
    <div class="row">
        <div class="input-group  col-md-6 offset-md-3 mt-5 justify-content-center">
            <img src="/grupos/mostrarImagengrupo/{{param.idCanal}}" height="200px" class="rounded shadow" onerror="this.setAttribute('src', 'https://diariodelcineasta.com/wp-content/uploads/2015/11/Reservoir-Dogs-Fresh-New-Hd-Wallpaper.jpg')" />
        </div>
    </div>

    <div class="row">
        <div id="descripcion" class="input-group  col-md-6 offset-md-3 mt-5 ">
           {{param.descripcion}}
        </div>
    </div>

    <div class="row">
        <div class="input-group  col-md-6 offset-md-3 mt-5 ">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Foto</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellidos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for u in param.cus %}
                    <tr id="{{u.idUs.idUs}}" onclick='chat.perfilModal({{u.idUs.idUs}})' class="conModal" data-toggle="modal" data-target="#modalInfoUsuario" style="cursor:pointer">
                        <th scope="row"><img class="rounded shadow" src="/usuarios/mostrarImagen/{{u.idUs.idUs}}" height="40px" onerror="this.setAttribute('src', 'http://www.eboca.com/ebocame/wp-content/uploads/2015/06/bigstock-silhouette-with-a-question-mar-59367497.jpg')"/></th>
                        <td>{{u.idUs.nombre}}</td>
                        <td>{{u.idUs.apellidos}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
