
<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Modificar usuario</title>
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

        <!-- <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/simplex/bootstrap.min.css" rel="stylesheet" integrity="sha384-1OYccka9EByiS23wvPFiYHBPRAgU91xYVFb8g8sen6vRiBI5Uko6+B87q8zPGUnA" crossorigin="anonymous">    -->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sandstone/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-G3Fme2BM4boCE9tHx9zHvcxaQoAkksPQa/8oyn1Dzqv7gdcXChereUsXGx6LtbqA" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">

</head>
<body>
        
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand mr-5" href="/principal">
        <h1><i class="fa fa-users" aria-hidden="true"></i> Chat;)</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-md-3 my-2" id="navbarSupportedContent">
        
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="form-inline my-2 my-sm-0 mr-auto">
            
        </div>

        <a id="modificarPerfil" class="button btn btn-outline-success my-2 my-md-0 mr-md-2" href="/usuarios/edit">
            <h6 class="mt-2"> <i class="fa fa-cog" aria-hidden="true"></i> Perfil </h6>
        </a>

        <a class="btn btn-outline-danger my-2 my-md-0" href="/logout">
            <h6 class="mt-2"> <i class="fa fa-sign-out " aria-hidden="true"></i> Logout </h6>
        </a>
    </div>
</nav>


        <div class="container bg-light text-dark shadow p-2" style="font-family: 'Righteous', sans-serif;min-height:90vh;">
                <div class="container mt-5">  
                     <div class="row">
                             <div class=" rounded mx-auto d-block">
                                     <img id="imgSalida" height="200" src="/usuarios/mostrarImagen/{{usuario.idUs}}" class="rounded shadow" alt="foto perfil" onerror="this.setAttribute('src', 'http://www.eboca.com/ebocame/wp-content/uploads/2015/06/bigstock-silhouette-with-a-question-mar-59367497.jpg')">
                             </div>
                     </div>
                 
             
                      <div class="row">
                              <hr>
                      </div>
        
                
                {{ form_start(form, {'action': '/usuarios/edit'}) }}
             
                <div class="row">
                     <div class="input-group  col-md-6 offset-md-3 mt-2 mb-5">
                             <div class="input-group-prepend">
                                 <span class="input-group-text font-weight-bold" id="basic-addon3">Subir imagen</span>
                             </div>
                             {{ form_widget(form.fotoArchivo) }}
                     </div>
                </div>
             
                 <div class="row">
                         <div class="input-group  col-md-3 offset-md-3 mt-2">
                                 <div class="input-group-prepend">
                                     <span class="input-group-text font-weight-bold" id="basic-addon3">Nombre</span>
                                 </div>
                                 {{ form_widget(form.nombre) }}
                         </div>
             
                         <div class="input-group col-md-3 mt-2">
                                 <div class="input-group-prepend">
                                         <span class="input-group-text font-weight-bold" >Apellidos</span>
                                     </div>
                                 {{ form_widget(form.apellidos) }}
                         </div>
             
                 </div>
             
                 <div class="row">
                         <div class="input-group col-md-3 offset-md-3 mt-2">
                                  <div class="input-group-prepend">
                                          <span class="input-group-text font-weight-bold" id="basic-addon3">Fecha n.</span>
                                  </div>
                                  {{ form_widget(form.fechaNac) }}
                        </div>
             
                         <div class="input-group col-md-3 mt-2  ">
                                     <div class="input-group-prepend">
                                             <span class="input-group-text font-weight-bold" id="basic-addon3">Puesto</span>
                                     </div>
             
                                     {{ form_widget(form.puesto) }}
                         </div>
             
                 </div>
             
             
                 <div class="row">
                         <div class=" input-group col-md-6 mt-2 offset-md-3 ">
                                 <div class="input-group-prepend">
                                         <span class="input-group-text font-weight-bold" id="basic-addon3">Correo</span>
                                 </div>
                                 {{ form_widget(form.correo) }}
                         </div>
                 </div>
             
                     <div class="row">
                             <div class="col-md-3 offset-md-3 mt-2">
                                      {{ form_widget(form.plainPassword.first) }}
                             </div>
                             <div class="col-md-3 mt-2">
                                 {{ form_widget(form.plainPassword.second) }}
                        </div>
                        {{ form_errors(form.plainPassword.first) }} 
                     </div>
             
             
                     <div class="row">            
                             <div class="input-group col-md-6 mt-2 offset-md-3">
                                     <div class="input-group-prepend">
                                         <span class="input-group-text font-weight-bold">Conocimientos</span>
                                     </div>
                                     {{ form_widget(form.conocimientos) }}
                             </div>
                             <div class="col-md-2"></div>
                     </div>
             
                     <div class="row">            
             
                             <div class="input-group col-md-6 mt-2 offset-md-3">
                                     <div class="input-group-prepend">
                                         <span class="input-group-text font-weight-bold">Aficiones</span>
                                     </div>
                                     {{ form_widget(form.aficiones) }}
                             </div>
                             <div class="col-md-2"></div>
                     </div>
              
                     <div class="row">
                             <div class="col-md-6 offset-md-3 my-2">
                                 {{ form_widget(form.submit) }}
                             </div>              
                     </div>
                     
                     {{ form_end(form) }}
             </div>
             
             
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src='/js/principal.js'></script>



</body>
</html>



