    <div class="row pt-4">
        <div class="mx-auto">
            <img id="imgSalida" height="200" src='/usuarios/mostrarImagen/{{param.idUs}}' class="rounded shadow" alt="foto perfil" onerror="this.setAttribute('src', 'http://www.eboca.com/ebocame/wp-content/uploads/2015/06/bigstock-silhouette-with-a-question-mar-59367497.jpg')">
        </div>
    </div>
    <h1 class="pt-4" style="text-align: center">
            {{ param.nombre }} {{ param.apellidos }}
    </h1>

    <h3 class="pt-4">Mis datos personales:</h3>
    <div class="container pt-2">
        <blockquote><strong>Fecha de nacimiento:</strong> {{ param.fechaNac|date("d/m/Y")}}</blockquote>
        <blockquote><strong>Correo:</strong> {{ param.correo }}</blockquote>
        <blockquote><strong>Puesto de trabajo:</strong> {{ param.puesto }}</blockquote>
        <blockquote><strong>Conocimientos:</strong>
            <p>{{ param.conocimientos }}</p>
        </blockquote>
        <blockquote>
            <strong>Aficiones:</strong>
            <p>{{ param.aficiones }}</p>
        </blockquote>
        <blockquote>
            <strong>Grupos de chat:</strong>
            <ul>
                {% for uc in param.ucs %}
                    <li>{{ uc.canal.nombre}}.</li>
                {% endfor %}
            </ul>           
        </blockquote>
    </div>
